<!DOCTYPE html>
<html>
<body>
  <h1>Tableau de bord</h1>

  <p>Email : <%= email %></p>
  <p>Date : <%= date %></p>

  <h3>Réservations en cours</h3>
  <ul>
    <li>Catway 1 – Jean Dupont – Titanic</li>
  </ul>

  <a href="/">Déconnexion</a>
</body>
</html>
